@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --body-bg: skyblue;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgb(29,29,29);
}
html::-webkit-scrollbar-track{
    background: white;
}
body{
    background-color: var(--body-bg);
    min-height: 100vh;
    padding: 40px;
}
@keyframes disappear{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
nav{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0 0;
    padding: 10px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: disappear 1.2s linear;
}
nav li{
    height: 70px;
    font-size: 1rem;
}
nav li .h-icon{
    background-color: var(--body-bg);
    border-radius: 50%;
    padding: 5px 15px;
    color: white;
    text-shadow: 10px 10px 5px solid black;
    font-weight: bold;
    font-size: 1.6rem;
}
nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 1.3px 1.3px 1px black;
    transition: .7s all linear;
    letter-spacing: .7px;
}
nav a:hover{
    color: var(--body-bg);  
}
nav ul .logo-text{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 1.55rem;
}
nav ul .logo-text:hover{
    cursor: default;
}
nav li:first-child{
    margin-right: auto;
}
#header .sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.458);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#header .sidebar li{
    width: 100%;
}
#header .sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
    filter:drop-shadow(6px 6px 15px white);
}
/*  */
#intro{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
}
#intro .intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
@keyframes slideInImage {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInContent {
    from {
        opacity: 0;
        transform: translateX(30%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
#intro .intro-container .profile-image{
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transform: translateX(-30%);
    animation: slideInImage 2s forwards;
}
#intro .intro-container .profile-image img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-color: gray;
    box-shadow: 20px 20px 30px black;
    border-top: 4px solid var(--body-bg);
    border-bottom: 4px solid var(--body-bg);
}
#intro .intro-container .profile-image img:hover{
    box-shadow: 3px 3px 20px var(--body-bg);
    transform: scale(1.02);
    transition: 1s linear;
}
#intro .intro-container .profile-contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateX(-30%);
    animation: slideInContent 2s forwards; 
}
#intro .intro-container .profile-contents h4{
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px 1px black;
}
#intro .intro-container .profile-contents h1{
    font-size: 3rem;
    color: white;
    letter-spacing: 1.5px;
    font-weight: bolder;
    text-shadow: 2px 2px 1px black;
}
#intro .intro-container .profile-contents p{
    color: white;
    font-weight: 300;
    font-size: .99rem;
    letter-spacing: 1px;
    line-height: 30px;
    width: 90%;
    text-shadow: 1px 1px 1px black;
}
#intro .intro-container .profile-contents .button{
    display: flex;
    gap: 10px;
}
#intro .intro-container .profile-contents .button  a{
    text-decoration: none;
}
#intro .intro-container .profile-contents .button .linkedin-btn{
    color: white;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 40px;
    transition: .6s all linear;
    border: 3px solid rgb(7, 128, 241);
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
}
#intro .intro-container .profile-contents .button .resume-btn{
    color: white;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 40px;
    transition: .6s all linear;
    border: 3px solid white;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
}
#intro .intro-container .profile-contents .button .linkedin-btn:hover{
    color: white;
    background-color: rgb(7, 128, 241);
    cursor: pointer;
}
#intro .intro-container .profile-contents .button .resume-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
/*  */
#skills{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
}
#skills .skills-container{
    animation: disappear 1.2s linear;
    padding: 100px;
}
#skills .skills-container .title{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#skills .skills-container .title h1{
    color: white;
    font-weight: 700;
}
#skills .skills-container .title .underline{
    height: 2px;
    width: 105px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--body-bg);
}
#skills .skills-container .skills-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 10px;
    color: white;
}
#skills .skills-container .skills-contents h3{
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
}
#skills .skills-container .skills-contents p{
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    font-size: .9rem;
    line-height: 30px;
}
.skills-contents .skills-1,
.skills-contents .skills-3{
    width: 500px;
    /* transform: translateX(-30%);
    animation: slideInImage 2s forwards;  */
}
.skills-contents .skills-2,
.skills-contents .skills-4{
    width: 500px;
    /* transform: translateX(30%);
    animation: slideInContent 2s forwards;  */
}
/*  */
#education{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
}
#education .education-container{
    padding: 100px;
    animation: disappear 1.2s linear;
}
#education .education-container .title{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#education .education-container .title h1{
    color: white;
    font-weight: 700;
}
#education .education-container .title .underline{
    height: 2px;
    width: 125px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--body-bg);
}
#education .education-container .education-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 40px 30px;
    color: white;
    justify-content: center;
}
#education .education-container .education-contents h1{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
}
#education .education-container .education-contents h3{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
}
#education .education-container .education-contents p{
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    font-size: .9rem;
    line-height: 30px;
}
#education .education-contents .education-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgba(54, 54, 54, 0.473);
    border-radius: 8px;
    border: 3px solid gray;
    transition: .4s all linear;
}
#education .education-contents .education-item:hover{
    transform: scale(1.04);
    border: 3px solid var(--body-bg);
    box-shadow: 2px 2px 8px var(--body-bg);
}
/*  */
#expertise{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
}
#expertise .expertise-container{
    padding: 100px;
    animation: disappear 1.2s linear;
}
#expertise .expertise-container .title{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#expertise .expertise-container .title h1{
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
#expertise .expertise-container .title .underline{
    height: 2px;
    width: 125px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--body-bg);
}
#expertise .expertise-container .expertise-contents{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px 14px;
    color: white;
    justify-content: center;
}
#expertise .expertise-container .expertise-contents h1{
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
}
#expertise .expertise-contents .expertise-item{
    padding: 20px;
    background-color: rgba(54, 54, 54, 0.473);
    border-radius: 8px;
    border: 3px solid gray;
    transition: .4s all linear;
    display: flex;
    justify-content: center;
    width: 170px;
}
#expertise .expertise-contents .expertise-item:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 8px var(--body-bg);
    border: 3px solid var(--body-bg);
}
/*  */
#project{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
}
#project .project-container{
    padding: 100px;
    animation: disappear 1.2s linear;
}
#project .project-container .title{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#project .project-container .title h1{
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
#project .project-container .title .underline{
    height: 2px;
    width: 105px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--body-bg);
}
#project .project-container .project-contents{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px 0px;
    color: white;
}
#project .project-container .project-contents h1{
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
    font-size: 1.5rem;
    text-align: center;
}
#project .project-container .project-contents p{
    font-weight: 200;
    letter-spacing: .8px;
    text-shadow: 1px 1px 1px black;
    font-size: .9rem;
    line-height: 30px;
}
#project .project-container .project-contents button{
    color: white;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 40px;
    transition: .6s all linear;
    border: 3px solid rgb(7, 128, 241);
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px black;
}
#project .project-container .project-contents button:hover{
    color: white;
    background-color: rgb(7, 128, 241);
    cursor: pointer;
}
.project-contents .project-item{
    width: 400px;
    padding: 20px 20px;
    background-color: rgba(54, 54, 54, 0.473);
    border-radius: 8px;
    border: 3px solid gray;
    transition: .4s all linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.project-contents .project-item:hover{
    border: 3px solid skyblue;
    transform: scale(1.02);
    box-shadow: 2px 2px 8px var(--body-bg);
}
footer{
    box-shadow: 1px 1px 6px gray;
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
    border-radius: 0px 0px 30px 30px;
    padding: 30px;
}
footer #footer-container{
    display: flex;
    justify-content: space-between;
}
footer #footer-container ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .85rem;
    letter-spacing: .7px;
}
footer #footer-container ul a{
    text-decoration: none;
    color: white;
    opacity: .6;
    transition: .7s all linear;
}
footer #footer-container ul a:hover{
    opacity: 1;
}
footer .footer-credit p{
    color: white;
    font-size: .8rem;
    letter-spacing: .7px;
    opacity: .55;
    font-weight: bold;
}
@media(max-width: 1330px){
    .skills-contents .skills-1,
    .skills-contents .skills-2,
    .skills-contents .skills-3,
    .skills-contents .skills-4{
        width: 435px;
    }
}

@media(max-width: 1200px){
    nav li{
        height: 70px;
        font-size: .9rem;
    }
    nav li .h-icon{
        padding: 5px 13px;
        font-size: 1.4rem;
    }
    nav a{
        padding: 0 20px;
    }
    nav ul .logo-text{
        font-size: 1.35rem;
    }
    #intro .intro-container{
        padding: 30px;
    }
    #intro .intro-container .profile-image img{
        width: 300px;
        height: 300px;
    }ME
    #intro .intro-container .profile-contents{
        width: 100%;
        gap: 8px;
    }
    #intro .intro-container .profile-contents h4{
        font-size: 1.3rem;
    }
    #intro .intro-container .profile-contents h1{
        font-size: 3rem;
    }
    #intro .intro-container .profile-contents p{
        font-weight: 300;
        font-size: .9rem;
        line-height: 28px;
        width: 100%;
    }
    /*  */
    #skills .skills-container{
        padding: 30px;
    }
    #skills .skills-container .skills-contents{
        padding: 20px 0px;
    }
    #skills .skills-container .skills-contents p{
        letter-spacing: .7px;
        font-size: .9rem;
        line-height: 26px;
    }
    .skills-contents .skills-1,
    .skills-contents .skills-2,
    .skills-contents .skills-3,
    .skills-contents .skills-4{
        width: 360px;
    }
    #education .education-container{
        padding: 30px;
    }
    #education .education-container .education-contents{
        padding: 30px 30px;
    }
    #education .education-container .education-contents h1{
        font-size: 1.2rem;
        text-shadow: 1.05px 1.5px 1px black;
    }
    #education .education-container .education-contents h3{
        font-size: 1.05rem;
        text-shadow: 1.05px 1.5px 1px black;
    }
    #education .education-container .education-contents p{
        font-size: .85rem;
        line-height: 30px;
    }
    #education .education-contents .education-item{
        gap: 18px;
    }
    #expertise .expertise-container{
        padding: 30px;
    }
    #expertise .expertise-container .title .underline{
        height: 2px;
        width: 116px;
    }
    #expertise .expertise-container .expertise-contents{
        padding: 40px 5px;
    }
    #expertise .expertise-container .expertise-contents h1{
        font-size: 1.05rem;
        text-shadow: 1.05px 1.05px 1px black;
    }
    #expertise .expertise-contents .expertise-item{
        padding: 18px;
        width: 150px;
    }
    #project .project-container{
        padding: 30px;
    }
    #project .project-container .title h1{
        margin-bottom: 10px;
    }
    #project .project-container .title .underline{
        width: 102px;
    }
    #project .project-container .project-contents h1{
        text-shadow: 1.05px 1.05px 1px black;
        font-size: 1.45rem;
    }
    #project .project-container .project-contents p{
        letter-spacing: .6px;
        line-height: 28px;
    }
    .project-contents .project-item{
        padding: 20px 10px;
    }
    footer #footer-container ul{
        gap: 14px;
        font-size: .8rem;
        letter-spacing: .5px;
    }
    footer .footer-credit p{
        font-size: .85rem;
        letter-spacing: .5px;
    }
}
@media(max-width: 890px){
    body{
        background: rgb(29,29,29);
        background: radial-gradient(circle, rgba(29,29,29,1) 20%, rgba(29,29,29,1) 78%);
    }
    nav{
        border-radius: 0px 0px 0px 0px;
    }
    /* nav a{} */
    #intro .intro-container .profile-image img{
        width: 270px;
        height: 270px;
    }
    #intro .intro-container .profile-contents{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #intro .intro-container .profile-contents h4{
        font-size: 1.3rem;
    }
    #intro .intro-container .profile-contents h1{
        font-size: 2.7rem;
    }
    #intro .intro-container .profile-contents p{
        font-weight: 300;
        font-size: .9rem;
        line-height: 28px;
        width: 100%;
    }
    #intro .intro-container .profile-contents .button{
        display: flex;
        gap: 10px;
    }
    #intro .intro-container .profile-contents .button .linkedin-btn{
        padding: 10px 40px;
        border-radius: 40px;
        font-size: 1rem;
        font-weight: 700;
    }
    #intro .intro-container .profile-contents .button .resume-btn{
        padding: 10px 40px;
        border-radius: 40px;
        font-size: 1rem;
        font-weight: 700;
    }
    #skills .skills-container{
        padding: 30px;
    }
    #skills .skills-container .title{
        display: flex;
        justify-content: flex-start;
        position: relative;
    }
    #skills .skills-container .title h1{
        color: white;
        font-weight: 700;
    }
    #skills .skills-container .title .underline{
        height: 2px;
        width: 105px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: skyblue;
    }
    #skills .skills-container .skills-contents{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 20px 0px;
    }
    #skills .skills-container .skills-contents h3{
        letter-spacing: 1px;
    }
    #skills .skills-container .skills-contents p{
        letter-spacing: .7px;
        font-size: .9rem;
        line-height: 26px;
    }
    .skills-contents .skills-1,
    .skills-contents .skills-2,
    .skills-contents .skills-3,
    .skills-contents .skills-4{
        width: 338px;
    }
    #education .education-container .education-contents{
        padding: 30px 30px;
    }
    #education .education-container .education-contents h1{
        font-size: 1.1rem;
    }
    #education .education-container .education-contents h3{
        font-size: 1rem;
    }
    #education .education-container .education-contents p{
        font-size: .8rem;
        line-height: 20px;
    }
    #education .education-contents .education-item{
        gap: 15px;
        padding: 20px;
    }
    #expertise .expertise-container .expertise-contents{
        gap: 45px;
        padding: 40px 5px;
    }
    #expertise .expertise-container .expertise-contents h1{
        font-size: 1rem;
    }
    #expertise .expertise-contents .expertise-item{
        padding: 16px;
        width: 150px;
    }
    #project .project-container{
        padding: 30px;
    }
    #project .project-container .title h1{
        margin-bottom: 10px;
    }
    #project .project-container .title .underline{
        height: 2px;
        width: 100px;
    }
    #project .project-container .project-contents{
        gap: 20px;
        padding: 40px 0px;
    }
    #project .project-container .project-contents h1{
        font-size: 1.25rem;
    }
    #project .project-container .project-contents p{
        letter-spacing: .6px;
        font-size: .85rem;
        line-height: 26px;
    }
    #project .project-container .project-contents button{
        padding: 10px 40px;
        font-size: .9rem;
    }
    .project-contents .project-item{
        width: fit-content;
        gap: 15px;
    }
    footer{
        border-radius: 0px 0px 0px 0px;
    }
    footer #footer-container ul{
        gap: 12px;
        font-size: .77rem;
        letter-spacing: .6px;
    }
    footer .footer-credit p{
        font-size: .8rem;
    }
}

@media(max-width: 768px){
    #intro .intro-container{
        flex-direction: column;
    }
    #intro .intro-container .profile-image img{
        width: 280px;
        height: 280px;
    }
    #intro .intro-container .profile-contents{
        align-items: center;
        gap: 7px;
    }
    #intro .intro-container .profile-contents h4{
        font-size: 1.2rem;
    }
    #intro .intro-container .profile-contents h1{
        font-size: 2.5rem;
    }
    #intro .intro-container .profile-contents p{
        font-size: .85rem;
        line-height: 27.5px;
    }
    #intro .intro-container .profile-contents .button .linkedin-btn{
        padding: 10px 40px;
        font-size: .9rem;
    }
    #intro .intro-container .profile-contents .button .resume-btn{
        padding: 10px 40px;
        font-size: .9rem;
    }
    #skills .skills-container{
        padding: 30px;
    }
    #skills .skills-container .skills-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 0px;
    }
    #skills .skills-container .skills-contents p{
        letter-spacing: .7px;
        font-size: .85rem;
        line-height: 25px;
    }
    .skills-contents .skills-1,
    .skills-contents .skills-2,
    .skills-contents .skills-3,
    .skills-contents .skills-4{
        width: fit-content;
    }
    #education .education-container .education-contents{
        gap: 40px;
        padding: 30px 30px;
    }
    #education .education-container .education-contents h1{
        font-size: 1.1rem;
    }
    #education .education-container .education-contents h3{
        font-size: 1rem;
    }
    #education .education-container .education-contents p{
        font-size: .8rem;
        line-height: 20px;
    }
    #education .education-contents .education-item{
        gap: 15px;
        padding: 20px;
    }
    #expertise .expertise-container .expertise-contents{
        gap: 35px;
        padding: 40px 5px;
    }
    #expertise .expertise-container .expertise-contents h1{
        font-size: 1rem;
    }
    #expertise .expertise-contents .expertise-item{
        padding: 15px;
        width: 150px;
    }
    #project .project-container{
        padding: 30px;
    }
    #project .project-container .title h1{
        margin-bottom: 10px;
    }
    #project .project-container .title .underline{
        height: 2px;
        width: 100px;
    }
    #project .project-container .project-contents{
        flex-direction: column;
        gap: 35px;
        padding: 40px 10px;
    }
    #project .project-container .project-contents h1{
        font-size: 1.2rem;
    }
    #project .project-container .project-contents p{
        letter-spacing: .6px;
        font-size: .85rem;
        line-height: 26px;
    }
    #project .project-container .project-contents button{
        padding: 10px 40px;
        font-size: .9rem;
    }
    .project-contents .project-item{
        width: fit-content;
    }
    footer #footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    footer #footer-container ul{
        font-size: .85rem;
    }
    footer .footer-credit p{
        font-size: .85rem;
    }
}
@media(max-width: 580px){
    #intro .intro-container .profile-image img{
        width: 280px;
        height: 280px;
    }
    #intro .intro-container .profile-contents{
        margin-top: 25px;
        align-items: center;
        gap: 7px;
    }
    #intro .intro-container .profile-contents h4{
        font-size: 1.12rem;
    }
    #intro .intro-container .profile-contents h1{
        font-size: 2.4rem;
    }
    #intro .intro-container .profile-contents p{
        font-size: .85rem;
        line-height: 25.5px;
        text-align: justify;
        padding: 0px 10px;
    }
    #intro .intro-container .profile-contents .button .linkedin-btn{
        padding: 8px 37px;
        font-size: .85rem;
    }
    #intro .intro-container .profile-contents .button .resume-btn{
        padding: 8px 37px;
        font-size: .85rem;
    }
    #skills .skills-container{
        padding: 30px;
    }
    #skills .skills-container .skills-contents{
        gap: 25px;
        padding: 20px 10px;
    }
    #skills .skills-container .skills-contents p{
        font-size: .85rem;
        line-height: 25px;
    }
    #education .education-container .education-contents{
        gap: 35px;
        padding: 30px 10px;
    }
    #education .education-container .education-contents h1{
        font-size: 1.1rem;
    }
    #education .education-container .education-contents h3{
        font-size: 1rem;
    }
    #education .education-container .education-contents p{
        font-size: .8rem;
        line-height: 20px;
    }
    #education .education-contents .education-item{
        gap: 15px;
        padding: 20px;
    }
    #expertise .expertise-container .expertise-contents{
        gap: 30px;
        padding: 40px 10px;
    }
    #expertise .expertise-container .expertise-contents h1{
        font-size: 1.15rem;
    }
    #expertise .expertise-contents .expertise-item{
        padding: 15px;
        width: 100%;
    }
    #project .project-container{
        padding: 30px;
    }
    #project .project-container .title h1{
        margin-bottom: 10px;
    }
    #project .project-container .title .underline{
        height: 2px;
        width: 102px;
    }
    #project .project-container .project-contents{
        gap: 35px;
        padding: 40px 10px;
    }
    #project .project-container .project-contents h1{
        font-size: 1.2rem;
    }
    #project .project-container .project-contents p{
        letter-spacing: .6px;
        font-size: .85rem;
        line-height: 26px;
    }
    #project .project-container .project-contents button{
        padding: 10px 40px;
        font-size: .9rem;
    }
    .project-contents .project-item{
        width: fit-content;
    }
    footer #footer-container{
        gap: 15px;
    }
    footer #footer-container ul{
        font-size: .8rem;
    }
    footer .footer-credit p{
        font-size: .8rem;
    }
}
@media(max-width: 460px){
    nav li .h-icon{
        padding: 5px 15px;
        font-size: 1.25rem;
    }
    nav ul .logo-text{
        font-size: 1.2rem;
    }
    #intro .intro-container .profile-image img{
        width: 265px;
        height: 265px;
    }
    #intro .intro-container .profile-contents{
        margin-top: 25px;
        gap: 7px;
    }
    #intro .intro-container .profile-contents h4{
        font-size: 1.07rem;
    }
    #intro .intro-container .profile-contents h1{
        font-size: 2.3rem;
    }
    #intro .intro-container .profile-contents p{
        font-size: .8rem;
        line-height: 25px;
    }
    #intro .intro-container .profile-contents .button .linkedin-btn{
        font-size: .82rem;
    }
    #intro .intro-container .profile-contents .button .resume-btn{
        font-size: .82rem;
    }
    #skills .skills-container{
        padding: 30px;
    }
    #skills .skills-container .skills-contents{
        gap: 25px;
        padding: 20px 10px;
    }
    #skills .skills-container .skills-contents p{
        font-size: .8rem;
        line-height: 25px;
        text-align: justify;
    }
    #education .education-container .education-contents{
        gap: 35px;
        padding: 30px 0px;
    }
    #education .education-container .education-contents h1{
        font-size: 1rem;
    }
    #education .education-container .education-contents h3{
        font-size: .85rem;
        text-shadow: .4px .4px 1px black;
    }
    #education .education-container .education-contents p{
        font-size: .75rem;
        line-height: 20px;
    }
    #education .education-contents .education-item{
        gap: 15px;
        padding: 20px;
    }
    #expertise .expertise-container .expertise-contents{
        padding: 40px 0px;
    }
    #expertise .expertise-container .expertise-contents h1{
        font-size: 1rem;
    }
    #project .project-container{
        padding: 30px;
    }
    #project .project-container .title h1{
        margin-bottom: 10px;
    }
    #project .project-container .project-contents{
        gap: 35px;
        padding: 40px 0px;
    }
    #project .project-container .project-contents h1{
        font-size: 1.05rem;
    }
    #project .project-container .project-contents p{
        font-size: .85rem;
        line-height: 25px;
    }
    #project .project-container .project-contents button{
        padding: 8px 37px;
        font-size: .85rem;
    }
    footer #footer-container{
        gap: 15px;
    }
    footer #footer-container ul{
        font-size: .85rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}
@media(max-width: 370px){
    #intro .intro-container .profile-image img{
        width: 235px;
        height: 235px;
    }
}

@media(max-width: 890px){
    body{
        padding: 0;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}